.sidebarChat ,.addNewChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat__info > h3{
    font: 16px;
    margin-bottom: 15px;
}

a {
    text-decoration: none !important;
    color: black;
}